<%= simple_form_for model, method: method, url: url, html: { class: "row" } do |f| %>
  <div class='col-4'>
    <%= f.input :container, as: :select, collection: @containers,
                            label_method: :name_container, value_method: :id,
                            include_blank: false, label: false %>
  </div>
  <div class='col-1'>
    <%= f.input :unit, as: :select, collection: LineItemContainer::UNITS, label: false %>
  </div>
  <div class='col-2'>
    <%= f.input :quantity, placeholder: attribute_model(f.object, :quantity), label: false %>
  </div>
  <div class='col-2'>
    <%= f.input :price, placeholder: attribute_model(f.object, :price) << ' ' << t('currency'), label: false %>
  </div>
  <div class='col-1'>
    <%= f.button :submit, submit, class: 'btn btn-outline-primary' %>			
    <%= render partial: 'shared/cancel_button', locals: { path: path } if f.object.persisted? %>
  </div>
<% end %>
