<section>
  <% provide :page_title, i18n_model_name(@departments, count: 2) %>
  <% currently_at i18n_model_name(@departments, count: 2) %>

  <h1><%= i18n_model_name(@departments, count: 2) %></h1>
  <% if define_permition? %>
    <p>
      <%= link_to t('link.add_new', model: i18n_model_name(Department.new).downcase), 
        new_admin_department_path, class: 'btn btn-outline-primary my-2' %>
    </p>
  <% end %>
  <% if @departments.try(:any?) %>
    <ul>
      <% @departments.each do |department| %>
        <li>
        <article class='my-4'>
          <h3><%= department.name_department %></h3>
          <p><%= simple_format(department.description) %></p>
          <%= link_to t('link.show', model: i18n_model_name(@departments)), 
            department_path(department), class: 'btn btn-outline-primary my-2' %>
        </article>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render 'blank' %>
  <% end %>
</section>