<div class='card-body ps-4 py-4'>
  <p class='card-text px-2'>
    <strong><%= attribute_model(supplier, :legal_name_company) %></strong>
    <%= supplier.legal_name_company %>
  </p>
  <p class='card-text px-2'>
    <strong><%= attribute_model(supplier, :full_name_director) %></strong>
    <%= supplier.full_name_director %>
  </p>
  <p class='card-text px-2'>
    <strong><%= attribute_model(supplier, :phone_number) %></strong>
    <%= supplier.phone_number %>
  </p>
  <p class='card-text px-2'>
    <strong><%= attribute_model(supplier, :email) %></strong>
    <%= supplier.email %>
  </p>
  <p class='card-text px-2'>
    <strong><%= attribute_model(supplier, :description) %></strong>
    <%= supplier.description %>
  </p>
  <h4 class='my-3 underline'><%= i18n_model_name(supplier.legal_address) %></h4>
  <p class='card-text px-2'>
    <%= supplier.legal_address.post_nubmer %>
    <%= supplier.legal_address.country.country_name %>
    <%= supplier.legal_address.region.region_name %>
    <%= supplier.legal_address.town %>
    <%= supplier.legal_address.street %>
    <%= supplier.legal_address.number_building %>
    <p><%= supplier.legal_address.description %></p>
  </p>

  <h4 class='my-3 underline'><%= i18n_model_name(supplier.post_address) %></h4>
  <p class='card-text px-2'>
    <%= supplier.post_address.post_nubmer %>
    <%= supplier.post_address.country.country_name %>
    <%= supplier.post_address.region.region_name %>
    <%= supplier.post_address.town %>
    <%= supplier.post_address.street %>
    <%= supplier.post_address.number_building %>
    <p><%= supplier.post_address.description %></p>
  </p>
  <h4 class='my-3 underline'><%= t('page.company.requisites') %></h4>
    <p class='card-text px-2'>
    <% supplier.account_numbers.each do |number| %>
      <% if number.alias %>
        <p class='card-text px-2'>
          <strong><%= attribute_model(number, :alias) %></strong>
          <%= number.alias %>
        </p>
      <% end %>
      <p class='card-text px-2'>
        <strong><%= attribute_model(number, :account_number) %></strong>
        <%= number.account_number %>
      </p>
      <p class='card-text px-2'>
        <strong><%= attribute_model(number.bank, :bank_name) %></strong>
        <%= number.bank.bank_name %>
      </p>
      <p class='card-text px-2'>
        <strong><%= attribute_model(number.bank, :iban) %></strong>
        <%= number.bank.iban %>
      </p>
      <p class='card-text px-2'>
        <strong><%= attribute_model(number.bank, :swift) %></strong>
        <%= number.bank.swift %>
      </p>
    <% end %>
  </p>
</div>    
